:root {
    --line-color: white;
}

.line-width {
    border-width: 0.125rem
}

.circle-width {
    height: 0.625rem;
    width: 0.625rem;
}

.line-color {
    border-color: var(--line-color);
}

.spacer {
    width: 0.5rem;
    background-color: var(--line-color);
}

/* TODO may remove this when theres content in the card body */
.card-height {
    height: 5rem;
}

.line-wrapper-width {
    min-width: 2.5rem;
}